<!DOCTYPE html>
<html lang="en">
  
  <head th:replace="frags :: html-head('Best of the year')"></head>
  
  <body>
	  <div class="container">
		  <header th:replace="frags :: header"></header>	  
	  
  	  <h1 class="text-center">Best of the year by [[${name}]]</h1>
	    
    	<div class="text-center">
	    	<img class="img-fluid" src="http://picsum.photos/600/400">
	    	<br><br>
	    	<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis odio sit amet sem eleifend pretium semper a enim. Sed ultricies mauris erat, vel rutrum nunc consequat at. Mauris sagittis non turpis sed interdum. In nec sagittis diam. Vestibulum accumsan ac justo sed dignissim. Donec interdum justo vel ex sagittis, quis imperdiet lorem iaculis. Aenean quam diam, dignissim a egestas quis, accumsan id diam. Nunc pharetra enim mauris.
				Donec imperdiet elit velit, vitae placerat arcu aliquam sed. Phasellus id sollicitudin sapien, sed pulvinar quam. Etiam enim erat, porttitor quis nisi non, efficitur convallis justo. Sed ac purus elementum, pellentesque elit id, suscipit tortor. Phasellus vel gravida purus. In pretium ornare mollis. Cras eu quam sodales lectus ullamcorper sagittis ut a metus. Praesent vel maximus mi. Fusce placerat eros risus. Curabitur molestie sodales diam, id dignissim purus suscipit sed. Quisque rutrum lacus sed lorem aliquam, eu blandit urna imperdiet. Etiam semper enim in tincidunt blandit. Cras commodo ipsum auctor erat tristique, eu dictum neque lobortis.
				</p>
			</div>
		</div>
    
	</body>
  
</html>
