<!DOCTYPE html>
<html lang="en">
  
  <head th:replace="frags :: html-head('Songs')"></head>
  
  <body>
	  <div class="container">
		  <header th:replace="frags :: header"></header>	  
	  
  	  <h1 class="text-center">Best songs</h1>
	    
    	<ul class="text-center list-unstyled">
				<li th:each="song : ${songs}" th:object="${song}">
					<a th:href="'/songs/' + *{getId()}" class="btn btn-outline-dark px-5 py-2 rounded-0">[[*{getTitle()}]]</a>
				</li>
			</ul>
		</div>
    
	</body>
  
</html>
